@font-face {
  font-family: "futura";
  src: url(fonts/FuturaCyrillicMedium.ttf);
}

body {
  font-family: "futura", sans-serif;
  height: 100vh;
}

.custom-styling {
  visibility: hidden;
}

.Oqkee2R {
  width: 20px;
  height: 20px;
}

.search-container {
  position: relative;
}

.search-container input[type="search"] {
  width: 100%;
  padding-right: 40px;
  box-sizing: border-box;
  border: 2px solid transparent;
  transition: border-color 0.3s ease;
}

.search-container input[type="search"]:focus {
  border-color: black !important;
  outline: none;
  box-shadow: none;
}

.search-container button {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.search-container button img {
  width: 20px;
  height: 20px;
}

.custom-styling-hover {
  transition: color 0.3s ease;
}

.custom-styling-hover:hover {
  color: blue !important;
}

.flag-image {
  transition: border 0.3s ease;
}

.flag-image:hover {
  border: 2px solid blue;
  border-radius: 50%;
}

.bg {
  color: white;
  background: #2d2d2d;
}

.logo-white {
  filter: invert(1);
}

.hover-effect-of-border:hover {
  background: #474747;
}

.cursor {
  cursor: pointer;
}

.border-hover:hover {
  padding: 10px 15px;
  border: 1px solid white;
}

.border-hover:focus {
  padding: 10px 15px;
  border: 1px solid white;
}

.btn-custom {
  background: #fff;
  font-weight: bold;
  color: black;
}

.btn-custom:hover {
  color: white;
  background: #000;
}
.custom-css-to-hide {
  display: none;
}
.bg-custom {
  background: #2d2d2d;
}
.visiblity-custom {
  visibility: hidden;
}
ul {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
}
.icon-gap {
  margin-right: 12px; /* Use a smaller margin */
}
.navbar {
  overflow: hidden; /* Prevent content from spilling out */
}

@media  screen and (min-width:48px)  {
  .logo-white {
    width: 50px;
    width: 50px;
    margin-left: 20px;
  }
}